.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

html {
	scroll-snap-type: y mandatory;
}
.app {
	height: 100vh;
	background-color: black;
	display: grid;
	place-items: center;
}

.app_videos {
	position: relative;
	height: 800px;
	border-radius: 20px;
	overflow: scroll;
	width: 80%;
	max-width: 500px;
	scroll-snap-type: y mandatory;
}
.app_videos::-webkit-scrollbar {
	display: none;
}
.app_videos {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
